<h1>Portfolio</h1>

<div class="RowPortfolio">
  <a href='homeportfolio'>
	  <img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" class="img-square">
</a>
       <ul>
		  		<strong>
					<li><%= link_to "Portfolio of Houses1", "#" %></li>
					<li><%= link_to "Portfolio of Houses2", "#" %></li>
					<li><%= link_to "Portfolio of Houses3", "#" %></li>
					<li><%= link_to "Portfolio of Houses4", "#" %></li>
				</strong>	
			</uL>
</div>

<div class="RowPortfolio">
      <a href='homeportfolio'>
		  <img src="http://www.interiordesign-world.com/wp-content/uploads/2013/08/e4112__House-in-Barcelos-09-140x140.jpg" class="img-square">
       </a>
		  		<strong>
					<%= link_to "Portfolio of Houses", "#" %>
				</strong>
			</div>

